
#floatingContainer {
  pointer-events: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      align-self: flex-start;
      pointer-events: all;
    }
    #floater {
      width: 10px;
      height: 10px;
       background-color: red;
        animation: floatbacknforth 20s infinite;
        transform-style: preserve-3d;
        perspective:200px ;

    transform:translateZ(-100000px);
        position: absolute;
        .floating-cards {
            position: absolute;
            transform-origin: center;
            pointer-events: all;
            .card-visual {
              width: 6rem;
              height: 10rem;
              border-radius: 1rem;
              background-color: aquamarine;
              transition: 0.2s ease-in-out;
              background-clip: padding-box;
            }
            .card-visual:hover {
              transform-origin: center;
              transform: scale(1.1);
            }
        }
        
    }
}

@keyframes floatbacknforth{
    0% {
      transform:rotateY(-10deg);
    }
    50% {
      transform:rotateY(10deg);
    }
    100% {
      transform:rotateY(-10deg);
    }
}