* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
  }

@font-face {
    font-family: Gulax;
    src: url(../media/fonts/Gulax/Gulax-Regular.woff2);
}

#navBar {
    width: 100%;
    box-shadow: 0.3em 0.3em 2em #AAA;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    a {
        text-decoration: none;
        font-family: sans-serif;
        color: black;
        font-size: 1.5em;
        padding: 0.7em;
        margin: 0.3em;
        transition-duration: 0.2s;
        border-radius: 0.3em;
        box-shadow: 0px 0px;
    }
    a:hover:not(:first-of-type) {
        margin-top: -10px;
        background-color: #aaa;
        transition-duration: 0.2s;
        box-shadow: 0px 10px;
    }
    a:active:not(:first-of-type) {
        margin-top: 10px;
        background-color: #444;
        transition-duration: 0.2s;
        box-shadow: 0px 0px;
    }
    a:first-of-type {
        font-family: 'Gulax', sans-serif;
        font-size: 2.5em;
    }
    a:last-of-type {
        margin-left: auto;
    }
}

@media (max-width: 650px) {
    #navBar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;

    a:last-of-type {
        margin-left: 0.3em;
    }
    }
}

.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    background-color: green;
    width: 6em;
    height: 100vh;
    transition-duration: 0.2s;
    display: flex;
    transform: translateX(-7em);
    flex-direction: column;
    justify-content: flex-start;
    a {
        margin: 1em;
        margin-bottom: 0;
        height: 4em;
        width: 4em;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.side-nav:hover {
    transform: translateX(0)  !important;
    transition-duration: 0.2s;
}

.side-nav.active{
    transform: translateX(-5em);
}

#landingVisual{
    height: calc(100vh - 7.5em);
    background-color: #AAA;
}

#secondVisual{
    height: 100vh;
    background-color: #AAA;
}